* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dejavu Sans Mono", monospace;
}
.icon {
  margin-bottom: 20px;
  position: relative;
  i {
    color: #333;
    font-size: 5rem;
  }
}
.icon::after {
  content: attr(data-count);
  position: absolute;
  height: 30px;
  width: 30px;
  top: 20px;
  right: -5px;
  z-index: 1000;
  font-size: 16px;
  color: red;
  background: white;
  border: 2px solid #333;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
