.container {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.navbar {
  position: sticky;
  top: 0;
  left: 0;
}

.nav-link {
  color: black;
}
#home {
  margin-top: -75px;
}
