* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.parallax {
  height: 100dvh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image1 {
  background-image: url(images/1.png);
}
.image2 {
  background-image: url(images/2.png);
}
.image3 {
  background-image: url(images/3.jpg);
}
.image4 {
  background-image: url(images/4.png);
}
